.title
{
    color: var(--clr-primary-text);
    font-style: var(--fs-italic);
    letter-spacing: var(--ls-xs);
    border-bottom: 1px dashed rgb(9, 93, 119);
    margin: 0 auto;
    margin-bottom: var(--mg-l);
    text-indent: 1vw;
    /* margin-left: 1vw; */
}

.about
{    
margin-bottom: var(--mg-l);
background-color: var(--clr-bg);
}

.about-center
{
    margin-bottom: 10vh;
}

.about-info p   
{
font-size: var(--fz-p);
color: black;
line-height: 1.5;
margin-left: 1vw;
}